<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <slot></slot>
      </h5>
      <ul class="list-unstyled">
        <li v-for="question in questions" :key="question.id">
          <strong>{{ question.title }}</strong>
          <div v-if="question.meta">
            {{ question.meta.user_full_name }}
            ({{ roundOff(question.meta.average_score) }})
          </div>
          <div class="text-muted" v-else>
            Not enough records.
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HighLowScores',
    props: {
      questions: {
        type: Array,
        required: true
      },
      restaurantId: {
        type: Number,
        required: true
      }
    },
    data() {
      return {}
    },
    mounted() {
    },
    methods: {
      userUrl(userId) {
        return route('restaurants.users.show', [this.restaurantId, userId])
      },
      roundOff(score) {
        return Math.round(score)
      }
    }
  }
</script>
