<template>
  <section>
    <div class="py-4">
      <h2 class="text-uppercase">Average Team Scores</h2>
      <report-nav :processing="processing"
                  :response-count="report.responseCount"
                  @navigated="dateNavigated"></report-nav>
      <div v-if="report.questions.length">
        <answer-chart v-for="question in report.questions"
                      :question="question"
                      :key="question.id"
                      :axes-data-fn="makeAxesData"></answer-chart>
      </div>
    </div>
    <div class="bg-white p-4 shadow-sm">
      <section class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase">High & Lows</h2>
        </div>
      </section>
      <section class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          <high-low-scores :questions="report.highestScores" :restaurant-id="restaurantId" key="high">
            Highest average scores
          </high-low-scores>
        </div>
        <div class="col-md-6">
          <high-low-scores :questions="report.lowestScores" :restaurant-id="restaurantId" key="low">
            Lowest average scores
          </high-low-scores>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
  import moment from 'moment';
  import AnswerChart from '@/js/Components/_shared/AnswerChart';
  import HighLowScores from "@/js/Components/Restaurants/HighLowScores";
  import ReportNav from "@/js/Components/_shared/Navigation";

  const defaultReport = {
    responseCount: 0,
    questions: [],
    highestScores: [],
    lowestScores: []
  };

  export default {
    name: 'RestaurantShow',
    props: {
      restaurantId: {
        type: Number,
        required: true
      },
    },
    components: {
      ReportNav,
      HighLowScores,
      AnswerChart
    },
    data() {
      return {
        processing: false,
        params: {},
        report: defaultReport,
      }
    },
    mounted() {
    },
    methods: {
      dateNavigated(range) {
        this.params = Object.assign({}, this.params, range);
        this.fetch();
      },
      urlParams() {
        return this.params;
      },
      fetch() {
        this.processing = true;

        this.$http.get(route('restaurants.report', this.restaurantId), {
          params: this.urlParams()
        })
          .then((response) => {
            this.report = Object.assign({}, defaultReport, response.data);
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.processing = false;
          })
      },
      makeAxesData(answer) {
        return {
          x: moment.utc(answer.for_date),
          y: Math.round(answer.average_score)
        }
      },
    },
    computed: {}
  }
</script>
