<template>
  <section>
    <section class="card mb-3">
      <div class="card-body">
        <form id="search-form" class="form-inline" @submit.prevent="fetch">
          <select class="form-control mb-2 mb-sm-0 mr-sm-2" name="per_page" v-model="params.per_page">
            <option disabled>Per page</option>
            <option v-for="n in [15, 30, 50]" :value="n" :key="n">{{ n }}</option>
          </select>
          <select class="form-control mb-2 mb-sm-0 mr-sm-2" name="work_schedule" v-model="params.work_schedule">
            <option disabled>WeekDay</option>
            <option :value="null">All Days</option>
            <option v-for="(day, name) in weekDays" :value="day" :key="day">{{ name }}</option>
          </select>
          <input type="text" class="form-control mb-2 mb-sm-0 mx-sm-2" placeholder="Search" name="search"
                 v-model="params.search" autofocus>
          <button type="submit" class="btn btn-primary mb-0 mb-sm-0 mr-sm-2" :disabled="processing">
            <i class="fa fa-search fa-fw"></i> Search
          </button>
          <div>
            <i class="ml-2 fas fa-spin fa-sync-alt text-muted" v-show="processing" aria-label="Loading"></i>
          </div>
        </form>
      </div>
    </section>

    <section class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="list-table">
        <thead>
          <tr>
            <th>Name</th>
            <th width="10px" v-for="(day, name) in weekDays" :key="day" :title="name">{{ name[0] }}</th>
            <th>Username</th>
            <th>Total Entries</th>
            <th>Past Week</th>
            <th>Last entry</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>
              <a :href="route('restaurants.users.show', [restaurant, user])">
                {{ user.profile.full_name }}
              </a>
              <span class="text-muted" v-show="user.restaurants[0].meta.role === 1">
                (Operator)
              </span>
              <span class="text-muted" v-show="user.restaurants[0].meta.role === 2">
                (Team Manager)
              </span>
            </td>

            <td v-for="day in weekDays" :key="day" :value="day">
              <work-schedule :user="user"
                             :week-day="day" :save-url="route('restaurants.users.actions.updateSchedule',[restaurant, user])"></work-schedule>
            </td>
            <td>
              {{ user.username }}
            </td>
            <td>
              {{ user.responses_count }}
            </td>
            <td>
              {{ user.responses_past_week_count }}
            </td>
            <td>
              <span v-if="user.latest_response">{{ user.latest_response.for_date }}</span>
              <span v-else>Never</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="table-responsive-sm">
        <pagination class="mb-0" @pagination-change-page="pageNavigated"
                    :data="response"
                    :show-disabled="true"
                    :limit="2"></pagination>
      </div>
    </section>
  </section>
</template>

<script>
  import Pagination from 'laravel-vue-pagination';
  import WorkSchedule from '@/js/Components/_shared/WorkSchedule'

  export default {
    name: 'UserList',
    props: {
      restaurant: {
        type: Object,
        required: true
      },
      initial: {
        type: Object,
        required: true,
        default: () => {
        }
      },
      weekDays: {
        type: Object,
        required: true
      }
    },
    components: {
      Pagination,
      WorkSchedule,
    },
    data() {
      return {
        processing: false,
        params: {
          page: 1,
          search: null,
          per_page: 15,
          work_schedule: null,
        },
        response: this.initial,
      }
    },
    mounted() {

    },
    methods: {
      pageNavigated(page = 1) {
        this.params.page = page;
        this.fetch();
      },
      urlParams() {
        return this.params;
      },
      fetch() {
        this.processing = true;

        this.$http.get(route('restaurants.users.index', this.restaurant), {
          params: this.urlParams()
        })
          .then((response) => {
            this.response = response.data;
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.processing = false;
          })
      },
    },
    computed: {
      users() {
        return this.response.data || [];
      }
    }
  }
</script>
