<template>
  <section class="mb-3">
    <canvas ref="canvas" width="100%" height="250px"></canvas>
  </section>
</template>

<script>
  import Chart from 'chart.js';
  import moment from 'moment';
  import ColorSchemes from './colorSchames.js';

  const chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    spanGaps: false,
    elements: {
      line: {
        tension: 0.000001
      }
    },
    legend: {
      display: true,
      position: 'bottom',
      onClick: () => {
        // do nothing
      },
      labels: {
        boxWidth: 20,
        fontSize: 16,
      }
    },
    title: {
      display: false
    },
    tooltips: {
      enabled: true
    },
    scales: {
      xAxes: [{
        display: true,
        type: 'time',
        time: {
          unit: 'day',
          round: 'day',
        },
        scaleLabel: {
          display: true,
          labelString: 'Dates'
        },
        gridLines: {
          display: false,
        }
      }],
      yAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Scores'
        },
        gridLines: {
          display: true,
        },
        ticks: {
          autoSkip: true,
          min: 0,
          stepSize: 1,
          max: 10
        },
      }]
    },
    // workaround, disable all animations
    // https://github.com/chartjs/Chart.js/issues/5149
    animation: {
      duration: 0
    },
    hover: {
      animationDuration: 0
    },
    responsiveAnimationDuration: 0
  };

  const defaultDataset = {
    label: '',
    data: [],
    fill: 'start',
    borderWidth: 1,
    pointRadius: 4,
    pointBackgroundColor: '#fff'
  };

  const makeAxesData = (answer) => {
    return {
      x: moment.utc(answer.response.for_date),
      y: answer.anchor.score
    }
  };

  export default {
    name: 'AnswerChart',
    props: {
      question: {
        type: Object,
        required: true
      },
      axesDataFn: {
        type: Function,
        default: makeAxesData
      }
    },
    data() {
      return {
        // Chart.js instance
        chart: null,
      }
    },
    mounted() {
      this.init()
    },
    methods: {
      makeDatasets() {
        let datasets = [];
        let scores = [];

        this.question.answers.map((answer) => {
          scores.push(this.axesDataFn(answer))
        });

        datasets.push(Object.assign({}, defaultDataset, this.colorScheme(this.question.color_scheme), {
          label: this.question.title,
          data: scores
        }));

        return datasets;
      },
      updateDatasets() {
        this.chart.data.datasets = this.makeDatasets();
      },
      updateChart() {
        setTimeout(() => {
          this.chart.update()
        }, 0)
      },
      init() {
        this.chart = new Chart(this.$refs.canvas.getContext('2d'), {
          type: 'line',
          data: {
            labels: [],
            datasets: this.makeDatasets(),
          },
          options: chartOptions
        });
      },
      colorScheme(name) {
        return ColorSchemes[name] || {}
      }
    },
    watch: {
      question: {
        immediate: false,
        handler() {
          this.updateDatasets();
          this.updateChart();
        }
      }
    },
    beforeDestroy() {
      this.chart && this.chart.destroy();
    },
  }
</script>
