<template>
  <section class="py-4">
    <h2 class="text-uppercase">Daily App Usage</h2>
    <div ref="chartCanvas" style="width: 100%; height: 500px;" v-show="!loading"></div>
    <div class="text-center text-muted my-5" v-show="loading">
      <i class="fas fa-spin fa-5x fa-sync"></i>
    </div>
    <div class="text-center" v-show="!loading">
      <div>Note:</div>
      <div>
        "Scheduled to work" shows the number of employees who were scheduled to work each day.<br>
        "% Responses" shows the percentage of scheduled employees who answered their questions each day.<br>
        Graph is updated every 24 hours.
      </div>
    </div>
  </section>
</template>

<script>
  import * as am4core from "@amcharts/amcharts4/core";
  import * as am4charts from "@amcharts/amcharts4/charts";
  import am4themes_animated from "@amcharts/amcharts4/themes/animated";

  am4core.useTheme(am4themes_animated);

  export default {
    name: 'EngagementHistory',
    props: {
      url: {
        type: String,
        required: true
      },
    },
    data() {
      return {
        chart: null,
        loading: true
      }
    },
    created() {
      this.fetch();
    },
    mounted() {
    },
    methods: {
      fetch() {
        this.loading = true;
        this.$http.get(this.url)
          .then((response) => {
            this.init(response.data)
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.loading = false;
          })
      },
      init(dataset = []) {
        let chart = am4core.create(this.$refs.chartCanvas, am4charts.XYChart);
        chart.paddingRight = 20;
        chart.data = dataset;

        let dateAxis = chart.xAxes.push(new am4charts.DateAxis());

        let actualAxes = this.createValueAxis(chart);
        actualAxes.renderer.labels.template.fill = am4core.color("skyblue");
        actualAxes.numberFormatter = new am4core.NumberFormatter();
        actualAxes.numberFormatter.numberFormat = "#.'%'";

        let actualSeries = this.createSeries(chart, actualAxes, 'for_date', 'response_percentage');
        actualSeries.tooltipText = "{valueY.value} %";
        actualSeries.fill = am4core.color("skyblue");
        actualSeries.stroke = am4core.color("skyblue");
        actualSeries.fillOpacity = 0.5;
        actualSeries.name = "% Responses";

        let expectedAxes = this.createValueAxis(chart);
        expectedAxes.renderer.labels.template.fill = am4core.color("#aaaaaa");
        expectedAxes.renderer.opposite = true;
        let expectedSeries = this.createSeries(chart, expectedAxes, 'for_date', 'schedule_count');
        expectedSeries.fill = am4core.color("#aaaaaa");
        expectedSeries.stroke = am4core.color("#aaaaaa");
        expectedSeries.name = "Scheduled to work";

        // Make a panning cursor
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panXY";
        chart.cursor.xAxis = dateAxis;
        chart.cursor.snapToSeries = expectedSeries;

        let scrollbarX = new am4charts.XYChartScrollbar();
        scrollbarX.series.push(actualSeries);
        chart.scrollbarX = scrollbarX;

        chart.legend = new am4charts.Legend();

        this.chart = chart;
      },
      createValueAxis(chart) {
        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        return valueAxis;
      },
      createSeries(chart, valueAxis, xName, yName) {
        let series = chart.series.push(new am4charts.LineSeries());
        series.yAxis = valueAxis;
        series.dataFields.dateX = xName;
        series.dataFields.valueY = yName;

        series.tooltipText = "{valueY.value}";
        series.strokeWidth = 2;

        return series;
      }
    },
    beforeDestroy() {
      if (this.chart) {
        this.chart.dispose();
      }
    }
  }
</script>
