<template>
  <section class="card mb-3">
    <div class="card-body row form-inline">
      <div class="col-md-2 col-lg-1 btn-group mb-2 mb-md-0" role="group">
        <button type="button" class="btn btn-outline-secondary" @click="prev" :disabled="processing">
          <i class="fa fa-chevron-left"></i><span class="d-inline-block d-md-none">&ensp;Prev</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" @click="next"
                :disabled="processing || disableNext()">
          <span class="d-inline-block d-md-none">Next&ensp;</span><i class="fa fa-chevron-right"></i>
        </button>
      </div>
      <div class="col-md-4 col-lg-5 text-center text-md-left h4 mb-1 mb-md-0">
        {{ monthLabel() }}
        <i class="ml-2 fas fa-spin fa-sync-alt text-muted small" v-show="processing" aria-label="Loading"></i>
      </div>
      <div class="col-md-6 text-center text-md-right h4 mb-0">
        <span class="text-muted">Total Responses:</span> {{ responseCount.toLocaleString() }}
      </div>
    </div>
  </section>
</template>

<script>
  import moment from 'moment';

  const dateFormat = 'YYYY-MM-DD';

  export default {
    name: 'ReportNav',
    props: {
      processing: {
        required: true,
        type: Boolean
      },
      responseCount: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        range: {
          start: moment.utc().startOf('month').endOf('day'),
          end: moment.utc().endOf('month'),
        },
      }
    },
    mounted() {
      this.emit();
    },
    methods: {
      disableNext() {
        return this.range.end.isSame(moment.utc().endOf('month'))
      },
      next() {
        this.range.start.add(1, 'month').startOf('month').endOf('day');
        this.range.end.add(1, 'month').endOf('month');
        this.emit();
      },
      prev() {
        this.range.start.subtract(1, 'month').startOf('month').endOf('day');
        this.range.end.subtract(1, 'month').endOf('month');
        this.emit();
      },
      emit() {
        this.$emit('navigated', {
          start_date: this.range.start.format(dateFormat),
          end_date: this.range.end.format(dateFormat)
        })
      },
      monthLabel() {
        return this.range.start.format('MMMM YYYY')
      }
    }
  }
</script>
