<template>
  <div class="form-group">
    <label for="user-select">Select from existing users</label>
    <multiselect id="user-select"
                 v-model="selectedItem"
                 :options="availableItems"
                 :custom-label="makeLabel"
                 placeholder="Type to search"
                 :multiple="false"
                 track-by="id"
                 :searchable="true"
                 :options-limit="100"
                 @search-change="search"
                 :max-height="600"
                 :internal-search="false"
                 :loading="isLoading"
                 :hide-selected="true"
                 :preserve-search="true"
    >
    </multiselect>
    <slot :value="selectedId"></slot>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import debounce from 'lodash-es/debounce';

  export default {
    name: 'SelectUser',
    props: {
      value: {
        type: Object,
        default: () => {
        }
      },
      urlParams: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        selectedItem: this.value || null,
        availableItems: [],
        isLoading: false,
      }
    },
    components: {
      Multiselect
    },
    methods: {
      // Don't use ES6 function as debounce() callback
      search: debounce(function (query) {
        if (!query) return;

        this.isLoading = true;
        this.$http.get(route('lookup.users'), {
            params: Object.assign({}, this.urlParams, {
              search: query,
            })
          })
          .then((response) => {
            this.availableItems = response.data || []
          })
          .catch((error) => {
            //todo show error
          })
          .then(response => {
            this.isLoading = false;
          });
      }, 300),
      makeLabel(item) {
        if (!item) return;

        let name = item.profile.full_name;
        if (item.username) {
          name = name + ', ' + item.username
        }
        if (item.email) {
          name = name + ', ' + item.email
        }
        return name;
      }
    },
    computed: {
      selectedId() {
        return this.selectedItem ? this.selectedItem.id : null;
      }
    }
  }
</script>
