<template>
  <section class="py-4">
    <h2 class="text-uppercase">Daily Responses</h2>
    <div ref="usageChart" style="width: 100%; height: 500px;" v-show="!loading"></div>
    <div class="text-center text-muted my-5" v-show="loading">
      <i class="fas fa-spin fa-5x fa-sync"></i>
    </div>
  </section>
</template>

<script>
  import * as am4core from "@amcharts/amcharts4/core";
  import * as am4charts from "@amcharts/amcharts4/charts";
  import am4themes_animated from "@amcharts/amcharts4/themes/animated";

  am4core.useTheme(am4themes_animated);

  export default {
    name: 'UsageChart',
    props: {
      url:{
        type: String,
        required: true
      },
    },
    data() {
      return {
        chart: null,
        loading: true
      }
    },
    created() {
      this.fetch();
    },
    mounted() {
    },
    methods: {
      fetch() {
        this.loading = true;
        this.$http.get(this.url)
          .then((response) => {
            this.init(response.data.responses)
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.loading = false;
          })
      },
      init(dataset = []) {
        let chart = am4core.create(this.$refs.usageChart, am4charts.XYChart);
        chart.paddingRight = 20;
        chart.data = dataset;

        let dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.grid.template.location = 0;

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.renderer.minWidth = 35;

        let series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.dateX = "for_date";
        series.dataFields.valueY = "responses";

        series.tooltipText = "{valueY.value}";
        series.strokeWidth = 2;
        series.minBulletDistance = 15;

        // Drop-shaped tooltips
        series.tooltip.background.cornerRadius = 20;
        series.tooltip.background.strokeOpacity = 0;
        series.tooltip.pointerOrientation = "vertical";
        series.tooltip.label.minWidth = 40;
        series.tooltip.label.minHeight = 40;
        series.tooltip.label.textAlign = "middle";

        // Make bullets and grow on hover
        let bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.circle.strokeWidth = 2;
        bullet.circle.radius = 4;
        bullet.circle.fill = am4core.color("#fff");

        let bulletHover = bullet.states.create("hover");
        bulletHover.properties.scale = 1.3;

        // Make a panning cursor
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "panXY";
        chart.cursor.xAxis = dateAxis;
        chart.cursor.snapToSeries = series;

        let scrollbarX = new am4charts.XYChartScrollbar();
        scrollbarX.series.push(series);
        chart.scrollbarX = scrollbarX;

        this.chart = chart;
      }
    },
    beforeDestroy() {
      if (this.chart) {
        this.chart.dispose();
      }
    }
  }
</script>

