<template>
  <input type="checkbox" :disabled="isDisabled" :checked="isChecked"
         @click="onClick($event)">
</template>

<script>
  export default {
    name: 'WorkSchedule',
    props: {
      user: {
        required: true,
        type: Object
      },
      weekDay: {
        required: true,
        type: Number
      },
      saveUrl: {
        required: true,
        type: String,
      }
    },
    data() {
      return {
        workSchedule: this.user.profile.work_schedule || [],
        isDisabled: false
      }
    },
    methods: {
      onClick(event) {
        if (event.target.checked) {
          this.workSchedule.push(this.weekDay)
        } else {
          let index = this.workSchedule.indexOf(this.weekDay);
          this.workSchedule.splice(index, 1);
        }
        this.save();
      },
      save() {
        this.isDisabled = true;

        this.$http.put(this.saveUrl, {
            work_schedule: this.workSchedule,
          })
          .then((response) => {
            // todo success message
          })
          .catch((response) => {
            // todo show error
          })
          .then((response) => {
            this.isDisabled = false;
          })
      }
    },
    computed: {
      isChecked() {
        return this.workSchedule.includes(this.weekDay)
      },
    }
  }
</script>
