<mat-form-field class="search-organization">
    <input [placeholder]="placeholder" [matAutocomplete]="auto" matInput
           (input)="listOrganizations($event)" [(ngModel)]="organization">
    <img *ngIf="searching" class="loader" src="../../../assets/img/loading-icon.gif"
         alt="search organizations">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let organization of organizations" [value]="organization.name"
                  (onSelectionChange)="selectOrganization(organization)">
        {{organization.name}}
      </mat-option>
    </mat-autocomplete>
 </mat-form-field>