<template>
  <div>
    <report-nav :processing="processing"
                :response-count="report.responseCount"
                @navigated="dateNavigated"></report-nav>
    <div v-if="questions.length">
      <answer-chart v-for="question in questions"
                    :question="question"
                    :key="question.id"></answer-chart>
    </div>
    <user-wins :wins="wins"></user-wins>
  </div>
</template>

<script>
  import AnswerChart from '@/js/Components/_shared/AnswerChart';
  import UserWins from "@/js/Components/Users/Wins";
  import ReportNav from "@/js/Components/_shared/Navigation";

  const defaultReport = {
    responseCount: 0,
    questions: [],
  };

  export default {
    name: 'UserShow',
    props: {
      userId: {
        type: Number,
        required: true
      },
      restaurantId: {
        type: Number,
        required: true
      }
    },
    components: {
      ReportNav,
      UserWins,
      AnswerChart
    },
    data() {
      return {
        processing: false,
        params: {},
        report: defaultReport,
      }
    },
    mounted() {
    },
    methods: {
      dateNavigated(range) {
        this.params = Object.assign({}, this.params, range);
        this.fetch();
      },
      urlParams() {
        return this.params;
      },
      fetch() {
        this.processing = true;

        this.$http.get(route('restaurants.users.report', [this.restaurantId, this.userId]), {
            params: this.urlParams()
          })
          .then((response) => {
            this.report = Object.assign({}, defaultReport, response.data);
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.processing = false;
          })
      },
    },
    computed: {
      wins() {
        return this.report.questions.filter(question => {
          return question.type_name === 'text';
        })
      },
      questions() {
        return this.report.questions.filter(question => {
          return question.type_name === 'range';
        })
      },
    }
  }
</script>
