<template>
  <section class="mb-3">
    <div v-for="win in wins" :key="win.id">
      <h3 class="text-center">{{ win.title }}</h3>
      <div class="text-center">
        <div v-for="answer in win.answers" class="card bg-light border-0" :key="answer.id" :data-id="answer.id">
          <div class="card-body border-top">
            <time class="h5 card-title" :title="answer.response.for_date">{{ dateFormat(answer.response.for_date) }}</time>
            <p class="text-center m-0 text-justify">{{ answer.text }}</p>
          </div>
        </div>
        <h4 class="h5 text-muted" v-show="!win.answers.length">No records found.</h4>
      </div>
    </div>
  </section>
</template>

<script>
  import moment from 'moment';

  export default {
    name: 'UserWins',
    props: {
      wins: {
        type: Array,
        required: true,
      }
    },
    data() {
      return {}
    },
    mounted() {

    },
    methods: {
      dateFormat(date) {
        return moment.utc(date).format('D MMM')
      }
    }
  }
</script>
