<template>
  <section>
    <div class="py-4">
      <h2 class="text-uppercase">Average Scores</h2>
      <report-nav :processing="processing"
                  :response-count="report.responseCount"
                  @navigated="dateNavigated"></report-nav>
      <div v-if="report.questions.length">
        <answer-chart v-for="question in report.questions"
                      :question="question"
                      :key="question.id"
                      :axes-data-fn="makeAxesData"></answer-chart>
      </div>
    </div>
  </section>
</template>

<script>
  import moment from 'moment';
  import AnswerChart from '@/js/Components/_shared/AnswerChart';
  import ReportNav from "@/js/Components/_shared/Navigation";

  const defaultReport = {
    responseCount: 0,
    questions: [],
  };

  export default {
    name: 'CorporateAnswersChart',
    props: {
      url:{
        type: String,
        required: true,
      },
    },
    components: {
      ReportNav,
      AnswerChart
    },
    data() {
      return {
        processing: false,
        params: {},
        report: defaultReport,
      }
    },
    mounted() {
    },
    methods: {
      dateNavigated(range) {
        this.params = Object.assign({}, this.params, range);
        this.fetch();
      },
      urlParams() {
        return this.params;
      },
      fetch() {
        this.processing = true;

        this.$http.get(this.url, {
          params: this.urlParams()
        })
          .then((response) => {
            this.report = Object.assign({}, defaultReport, response.data);
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.processing = false;
          })
      },
      makeAxesData(answer) {
        return {
          x: moment.utc(answer.for_date),
          y: Math.round(answer.average_score)
        }
      },
    },
    computed: {}
  }
</script>
