<template>
  <section>
    <report-nav :processing="processing"
                :response-count="response.total"
                @navigated="dateNavigated"></report-nav>

    <ul class="list-unstyled" v-if="wins.length">
      <li v-for="win in wins" class="border-bottom mb-3" :key="win.id" :data-id="win.id">
        <strong class="mr-3">{{ win.response.user.profile.full_name }}</strong>
        <time class="text-muted" :title="win.response.for_date">{{ formatDate(win.response.for_date) }}</time>
        <p class="text-justify">{{ win.text }}</p>
      </li>
    </ul>
    <h3 class="text-center text-muted" v-else>No records found.</h3>
    <div class="table-responsive-sm">
      <pagination class="mb-0" @pagination-change-page="pageNavigated"
                  :data="response"
                  :show-disabled="true"
                  :limit="2"></pagination>
    </div>
  </section>
</template>

<script>
  import ReportNav from "@/js/Components/_shared/Navigation";
  import moment from 'moment';
  import Pagination from 'laravel-vue-pagination';

  export default {
    name: 'WinsIndex',
    props: {
      fetchUrl: {
        type: String,
        required: true
      },
      initial: {
        type: Object,
        default: () => {
        }
      }
    },
    components: {
      ReportNav,
      Pagination,
    },
    data() {
      return {
        processing: false,
        params: {
          page: 1
        },
        response: this.initial
      }
    },
    mounted() {

    },
    methods: {
      pageNavigated(page = 1) {
        this.params.page = page;
        this.fetch();
      },
      dateNavigated(range) {
        this.params = Object.assign({}, this.params, range);
        this.fetch();
      },
      urlParams() {
        return this.params;
      },
      fetch() {
        this.processing = true;

        this.$http.get(this.fetchUrl, {
            params: this.urlParams()
          })
          .then((response) => {
            this.response = response.data;
          })
          .catch((response) => {
            // todo handle error
          })
          .then((response) => {
            this.processing = false;
          })
      },
      formatDate(date) {
        return moment.utc(date).format('DD/MMM/YYYY')
      }
    },
    computed: {
      wins() {
        return this.response.data || [];
      }
    }
  }
</script>
